*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.titulo-principal{
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 80px;
}

.titulo-formulario{
    margin-left: 500px;
    font-weight: 800;
    font-size: 1.5rem;
}

.form-contenedor{
    display: flex;
    margin: auto;
    padding-bottom: 40px;
    gap: 100px;
    width: 700px;
    font-size: 1.2rem;
    border: 4px dashed rgb(3, 3, 3);
}


#qrcode{
    display: block;
    flex-direction: column;
    margin-left: 40px;
    width: 200px;
}


.formulario{
    margin-top: 100px;
}

.input{
    display: block;
    font-size: 1rem;
    width: 300px;
}

.mensaje{
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    
}

.print-btn{
    display: block;
    margin: 35px auto;
    background-color: rgb(128, 38, 193);
    width: 110px;
    height: 55px;
    border: 0px solid ;
    border-radius: 15px;
    color: white;
    font-size: 0.9rem;
}

.print-btn:hover{
    background-color: rgb(193, 38, 87);
    color: white;
    
}

footer{
    text-align: center;
    margin-top: 250px;
    color: rgb(167, 21, 21);
}

#enlace-footer{
    text-decoration: none;
    color: rgb(167, 21, 21);
}
