*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.titulo-principal{
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 80px;
}

.titulo-formulario{
    margin-left: 500px;
    font-weight: 800;
    font-size: 1.5rem;
}

.form-contenedor{
    display: flex;
    
    margin: auto;
    gap: 120px;
    width: 700px;
    height: 400px;
    font-size: 1.2rem;
    border: 4px dashed rgb(3, 3, 3);
}


#qrcode{
    display: block;
    margin-left: 40px;
    width: 200px;
}


.formulario{
    margin-top: 150px;
}

.input{
    display: block;
    font-size: 1rem;
    width: 300px;
}

.mensaje{
    display: block;
    margin: 20 auto;
}

.print-btn{
    display: block;
    margin: 20px auto;
    background-color: rgb(128, 38, 193);
    width: 110px;
    height: 55px;
    border: 0px solid ;
    border-radius: 15px;
    color: white;
    font-size: 0.9rem;
}

.print-btn:hover{
    background-color: rgb(193, 38, 87);
    color: white;
    
}
